

.filament-login-page{
    background-image: url("/images/loginback1.avif") !important;
    background-size: cover;
}
.filament-forms-text-input-component input {
    border-radius: 0px
}
.filament-tables-table thead tr {
    background: rgba(224, 36, 36, 0.89);
}
.filament-tables-table thead tr button {
    color: white;
}

.filament-main-topbar{
    background: rgba(224, 36, 36, 0.89) !important;
}
.filament-sidebar-item a{
    border-radius: 0px !important;
}
